PyPDF2>=3.0.0
Pillow>=9.0.0
reportlab>=3.6.0
striprtf>=0.0.24
xhtml2pdf>=0.2.11
svglib>=1.5.1
pillow-heif>=0.10.0
pyinstaller>=5.0.0
tkinterdnd2 
PySide6>=6.0.0
pyqtdarktheme==2.1.0 
docx2pdf>=0.1.8
pptxtopdf>=0.0.2
pywin32>=306; sys_platform == "win32" # For Windows-specific COM interop 